Services/SpaceServices/TestHarness/Service References/SpaceServiceReference/SpaceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPlayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PlayerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlayerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlayerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePlayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PlayerId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PlayerData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePlayerResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMarketOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StarId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMarketOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMarketOrdersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMarketOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PlayerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StarId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Buy" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MaterialId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMarketOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateMarketOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPlayerSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="GetPlayerSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="SavePlayerSoapIn">
    <wsdl:part name="parameters" element="tns:SavePlayer" />
  </wsdl:message>
  <wsdl:message name="SavePlayerSoapOut">
    <wsdl:part name="parameters" element="tns:SavePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="GetMarketOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetMarketOrders" />
  </wsdl:message>
  <wsdl:message name="GetMarketOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetMarketOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="CreateMarketOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateMarketOrder" />
  </wsdl:message>
  <wsdl:message name="CreateMarketOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateMarketOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="SpaceServiceSoap">
    <wsdl:operation name="GetPlayer">
      <wsdl:input message="tns:GetPlayerSoapIn" />
      <wsdl:output message="tns:GetPlayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePlayer">
      <wsdl:input message="tns:SavePlayerSoapIn" />
      <wsdl:output message="tns:SavePlayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketOrders">
      <wsdl:input message="tns:GetMarketOrdersSoapIn" />
      <wsdl:output message="tns:GetMarketOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMarketOrder">
      <wsdl:input message="tns:CreateMarketOrderSoapIn" />
      <wsdl:output message="tns:CreateMarketOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SpaceServiceSoap" type="tns:SpaceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://tempuri.org/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePlayer">
      <soap:operation soapAction="http://tempuri.org/SavePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketOrders">
      <soap:operation soapAction="http://tempuri.org/GetMarketOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMarketOrder">
      <soap:operation soapAction="http://tempuri.org/CreateMarketOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SpaceServiceSoap12" type="tns:SpaceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayer">
      <soap12:operation soapAction="http://tempuri.org/GetPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePlayer">
      <soap12:operation soapAction="http://tempuri.org/SavePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketOrders">
      <soap12:operation soapAction="http://tempuri.org/GetMarketOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMarketOrder">
      <soap12:operation soapAction="http://tempuri.org/CreateMarketOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpaceService">
    <wsdl:port name="SpaceServiceSoap" binding="tns:SpaceServiceSoap">
      <soap:address location="http://localhost:55271/SpaceService.asmx" />
    </wsdl:port>
    <wsdl:port name="SpaceServiceSoap12" binding="tns:SpaceServiceSoap12">
      <soap12:address location="http://localhost:55271/SpaceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>